{% extends "base.html" %}

{% block content %}
<h1>Barcha Retseptlar</h1>
<div class="d-flex justify-content-between align-items-center mb-4">
    <a href="{% url 'recipe_add' %}" class="btn btn-primary">Yangi Retsept Qo'shish</a>
</div>

<div class="row">
    {% for recipe in recipe_list %}
        <div class="col-md-6 mb-4">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.nomi }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Muallif: {{ recipe.chef }}</h6>
                    <p class="card-text">{{ recipe.tavsif }}</p>
                    <a href="{% url 'recipe_info' recipe.id %}" class="card-link">Batafsil ko'rish</a>
                </div>
                <div class="card-footer text-muted">
                    Kategoriya: {{ recipe.kategoriya }} | {{ recipe.yaratilgan }}
                </div>
            </div>
        </div>
    {% empty %}
        <p>Hech qanday retsept topilmadi.</p>
    {% endfor %}
</div>
{% endblock %}
  
